---
layout: default
---

<script src="https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('pre code.language-mermaid').forEach(function (codeBlock) {
      const pre = codeBlock.parentElement;
      const mermaidDiv = document.createElement('div');
      mermaidDiv.className = 'mermaid';
      mermaidDiv.textContent = codeBlock.textContent;
      pre.replaceWith(mermaidDiv);
    });

    mermaid.initialize({
      startOnLoad: true
    });
  });
</script>

<!-- Highlight.js CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">

<!-- Highlight.js JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>

    <div class="post-meta">
      {% if page.date %}
        <span class="post-date">
          <strong>작성일자 :</strong> {{ page.date | date: "%Y.%m.%d" }}
        </span>
      {% endif %}

      <br>

      {% if page.tags %}
        <span class="post-tags">
          <strong>태그 :</strong>
          {% for tag in page.tags %}
            <span class="post-tag">#{{ tag }}</span>
          {% endfor %}
        </span>
      {% endif %}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <script src="https://giscus.app/client.js"
          data-repo="sanghoon-lee/sanghoon-lee.github.io"
          data-repo-id="R_kgDOQerB-w"
          data-category="General"
          data-category-id="DIC_kwDOQerB-84CzS7M"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="light"
          data-lang="ko"
          crossorigin="anonymous"
          async>
  </script>

</article>

